<!DOCTYPE html>
<html>
  <head>
    <title>Storytopia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('icon.webp') %>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital@0;1&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <meta property="og:title" content="Storytopia" />
		<meta property='og:image' content=""/>
		<meta property="og:type" content="website">
    <meta property="og:description"
      content="Storytopia is a full-stack project made with Ruby on Rails and React.js."
    />
    <meta property="og:url"
      content="https://storytopia.herokuapp.com/#/"
		/>
		<meta name="author" content="Michael Chen">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
